.form-label {
    font-family: Quicksand;
    text-transform: uppercase;
    font-weight: bold;
    color: rgb(0 81 192 / var(--tw-text-opacity, 1));
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.05em;
    font-weight: 700;
}

.form-control {
    background-color: rgb(242 244 246 / var(--tw-bg-opacity, 1));
    border-radius: 1rem;
}

.toolSpend {
    font-family: Lexend, sans-serif;
    font-size: 2rem;
    font-weight: 600;
    line-height: 2.5rem;
    color: #0051c0;
}

@media (min-width: 768px) {
    .app-main {
        height: 100vh;
        overflow-y: auto;
    }
}

@media (max-width: 767.98px) {
    body {
        overflow: auto;
    }

    .app-shell {
        height: auto;
    }

    .app-main {
        height: auto !important;
        min-height: 100vh;
        overflow: visible !important;
    }

}